<footer class="oak-footer">
	<p>Copyright © <a class="nutn0n-footer-link" href="http://twitter.com/nutn0n"><span class="ion-social-twitter"></span> Nutn0n</a> 2015 • All rights reserved.</p>
	<p>I wrote the code, bitch!</p>
	<br/>
</footer>
