@font-face {
    font-family: BoonJot;
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.eot) format('embedded-opentype');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.woff2) format('woff2');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.woff) format('woff');
    src: url(https://jwc8.jwc.in.th//fonts/BoonJot-400.ttf) format('truetype');
    font-style: normal;
    font-weight: 400
}
.jwc8-block {
  margin-top:350px;
  height: 80%;
  width: 80%;
  background: url(https://jwc8.jwc.in.th/images/landing/bg.jpg);
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 4px;
  max-height:250px;
  max-width:250px;
  margin-left:10%;
}
a.jwc8-link {
  text-decoration: none;
}
.jwc8-foreground {
  margin: auto;
  width: 80%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  ransform: translateY(-50%);
}

.jwc8-foreground #jwc8-free {
 display:block;
 top:0;
 left:5px;
 width:10px;
 height:30px;
  background-image: url(https://jwc8.jwc.in.th/images/landing/free.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

.jwc8-foreground img {
  display: block;
  width: 100%;
  padding-left:10%;
  padding-right:10%;
  position: relative;
  margin-top:120px;
}
.jwc8-foreground #jwc8-name {
  font-family: BoonJot, DJB, sans-serif;
  text-shadow: 2px 2px 4px #333;
  display: block;
  color: #fff;
  font-size: 28px;
  text-align: center;
  position: relative;
  background-image: url(https://jwc8.jwc.in.th/images/landing/logo-bg.png);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

}
.jwc8-foreground #jwc8-info {
  font-family: BoonJot, DJB, sans-serif;
  text-shadow: 2px 2px 4px #333;
  display: block;
  color: #fff;
  margin-top: -10px;
  font-size: 15px;
  text-align: center;
  position: relative;
}

.highlight {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-90%) translateX(-50%);
          transform: translateY(-90%) translateX(-50%);
  height: 200%;
  width: 200%;
  background: -webkit-radial-gradient(50% 50% circle, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.6) 5%, rgba(255, 255, 255, 0) 70%);
  background-repeat: no-repeat;
  background-size: cover;
}

.jwc8-wrap {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
